- extends 'blogs/base.html'
  - block main-content
    - for post in posts
      - include 'blogs/includes/post_detail.html'
    - empty
      - include 'blogs/includes/post_detail_empty.html'
    .row
      .offset3
        - if page_obj
          - include 'blogs/includes/pagination.html'
